.ship {
	top:0;
	left:0;
	position: absolute;
	z-index: 2;
}

.grid {
	top: 0;
	left: 0;
	display: grid;
	position: absolute;
	row-gap: 0px;
	column-gap: 0px;
	grid-template-columns: repeat(20, 32px);
	grid-template-rows: repeat(20, 32px);
}

#lower_grid {
	z-index: -1;
}

#upper_grid {
	z-index: 0;
}

.tresure {
	top:0;
	left:0;
	position: absolute;;
	z-index: 1
}

.sprite {
	max-height: 32px;
	max-width: 32px;
}